---
import "../styles/books.scss";
import { books } from "../data/index";
---

<div class="container books__container">
  <div class="books__heading">
    <h2 class="heading-1">Books I Recommend</h2>
    <p class="text-paragraph font-thin">
      List of books I’ve read and recommend
    </p>
  </div>
  <div class="books__deck">
    {
      books.map((book) => (
        <div class="book">
          <div class="book__cover">
            <img src={book.cover} alt={book.title} />
          </div>
          <div class="book__title">
            <h3>{book.title}</h3>
            <p>{book.tagline}</p>
          </div>
          <a href={book.link} target="_blank">
            View on Amazon
          </a>
        </div>
      ))
    }
  </div>
</div>
