---
import axios from "axios";
import { AiFillGithub } from "react-icons/ai/index";
import { BiLinkExternal } from "react-icons/bi/index";
import { BsArrowRight } from "react-icons/bs/index";
import "../styles/works.scss";
import { works } from "../data/index";

type WorkTypes = {
  freelance?: boolean;
  opensource?: boolean;
  sideProject?: boolean;
};
const getWorkTypeClass = (type: WorkTypes) => {
  if (type?.freelance) {
    return "freelance";
  }

  if (type?.opensource) {
    return "opensource";
  }

  if (type?.sideProject) {
    return "SideProject";
  }
};
---

<div class="container works__container">
  <div class="works__heading">
    <h2 class="heading-1">My Works</h2>
    <p class="text-paragraph font-thin">
      Showcasing my diverse range of projects and creations in the world of
      technology.
    </p>
  </div>
  <div class="works__deck">
    {
      works &&
        works?.slice(0, 4).map((work: any) => {
          return (
            <div class="blog__item">
              <div class="blog__body">
                <h2 class="title-2 font-light">{work?.title}</h2>
                <p class="paragraph-1">{work?.description}</p>
              </div>
              <div class="blog__footer">
                <div class="blog__links">
                  {work?.repo && (
                    <a href={work?.repo} target="_blank">
                      <AiFillGithub />
                    </a>
                  )}

                  {work?.url && (
                    <a href={work?.url} target="_blank">
                      demo
                      <BiLinkExternal />
                    </a>
                  )}
                </div>
                <small class={getWorkTypeClass(work)}>
                  {getWorkTypeClass(work)}
                </small>
              </div>
            </div>
          );
        })
    }
  </div>
  <div class="loadmore_btn">
    <a href="https://github.com/pavankpdev" target="_blank">
      Load More <BsArrowRight />
    </a>
  </div>
</div>
